<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>MS in Software Engineer</h1>
            <span>Beijing University of Posts and Communications</span>
            <span><address>Beijing, China</address><time></time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>Bachelor in Computer Science</h1>
            <span>Hebei Polytechnic University</span>
            <span><address>Hebei, China</address><time></time></span>
        </header>
    </article>
</section>
