<section class="thirteen columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h1>Senior Software Engineer</h1>
            <span><address>Sogou Inc, China</address><time>2017 to Present</time></span>
        </header>
        <p>
            As the member of Key System team of Tech&Engineer Department, we setup the account system to support more than half billion users. We need to supply the authentication service for all the products of our company, billions access every day. I have made lots of works to re-design the system to support the user to login the all the products with mobile, account or email address.
        </p>
        <p>
            I also work for the BI team, collect the log data from all the company and calculate the key index and support
             the company.
        </p>
        <p>
            The key tools we used:<br>
            <em>Spark, Spring, Nginx, Java & Groovy, Jetty, Redis, MySQL</em>

        </p>
    </article>
    <article>
        <header>
            <h1>Senior Software Engineer</h1>
            <span><address>Emotibot Technologies Limited, China</address><time>2016 to 2017</time></span>
        </header>
        <p>
            We built the first emotional chat robot, it is first one chat robot which can detect your emotion mood and support to remember the customer profile what you like or dislike. I work for the memory team, as the key member. We extract the customer profile through their chat log base on NLP and setup the user profile and remember customer profile.
        </p>
        <p>
            The key tools we used:<br>
            <em>Spring, Java, Python, Tensorflow & Keras</em>

        </p>
    </article>
    <article>
        <header>
            <h1>Staff Engineer</h1>
            <span><address>WatchGuard Inc, USA</address><time>2013 to 2016</time></span>
        </header>
        <p>
            As the key member of the WSM(WatchGuard System Management) team, major responsibility is to design and develop the new features. WSM system, include Server, Policy manager, status monitor, graphic report of alarm and so on. It was used to collect the log information from more than thousand WatchGuard boxes and monitor their health status, and config the template and apply it to box by group. It is key point to improve the usability of product.
        </p>
        <p>
            As the key designer, involved to design and develop the new version of WSM, which based on Web tech, used Python, JQuery, JSON, HTTPS and x509 Certificate and other technologies. We used WebUI to manage the more than thousand boxes, to collect the log and analysis to generate the report. During this development process, we use Scrum to drive our dev process.
        </p>
        <p>
            Ohterwise, responsible for the security improvement of Web side of products, to prevent the Web attack, improve the code quality to defend the Web attack like OWASP Top 10.
        </p>
        <P>
            The key tools we used:<br>
            <em>Java, Javascript & JQuery, Python, Bootstrap</em>
        </p>
    </article>
    <article>
        <header>
            <h1>Department Director</h1>
            <span><address>Founder International Co., Ltd, China</address><time>2011 to 2013</time></span>
        </header>
        <p>
            As the department director, take responsible about the product design and development and maintain the product, support the projects over country. The are almost 30 people in my department.
        </p>
        <p>
            We take responsibility of Policy GIS system development, used Java to setup the Servers and Javascript to develop the application on Browser side. We have made some test to use Hadoop to store the mass GPS information, resolve the issue about how to collect the GPS and show track on the map.
        </p>
        <p>
            The key tools we used:<br>
            <em>Javascript, </em>
        </p>
    </article>
    <article>
        <header>
            <h1>Senior Software Engineer</h1>
            <span><address>WatchGuard Inc, USA</address><time>2008 to 2011</time></span>
        </header>
        <p>
            Work for the SSLVPN team, take responsible of design and development of authentication, authorization modules, especially the communication between different modules. With Java thread tech to resolve the communication between different modules to improve the performance.
        </p>
        <p>
            The authentication modules, used Java programming, support to authenticate with x509, LDAP, SecureID, Radius, AD and LDAP, username and Passport. The authorization modules, to support privilege check for different applications. For example, OWA, Sharepoint, RDP and other system, use Java thread to improve the performance with concurrent users accessed.
        </p>
        <p>
            The key tools&knowledage we used:<br>
            <em>x509, Java Thread, Linux C</em>
        </p>
    </article>
    <article>
        <header>
            <h1>Senior Software Engineer</h1>
            <span><address>Beijing Huakeguangtong Information Tech Co., Ltd, China</address><time>2005 to 2008</time></span>
        </header>
        <p>
            As the key member involved to the CA(x509 Certificate Authentication) System design and development. Our CA product support sub CA and RA; support Certificate template. include personal template and server certificate template. Include all the necessary features about the CA, RA, OCSP, CLR and log.
        </p>
        <p>
            Based on the CA system and PKI, we have completed some enterprise IT system security project, include the central management of User account and support SSO, authorization management of application. And support identify authentication based on x509 certificate and digital signature.
        </p>
        <p>
            The key tools&knowledge we used:<br>
            <em>Java, PKI, x509 Certificate, CA&RA, digital signature</em>
        </p>
    </article>
</section>
